.wrapper {
    color: #fff;
    margin: 0 16px;
}

.title {
    font-size: 1.4rem;
    margin-top: 30px;
    font-weight: 500;
}

.introduce {
    font-size: 1.4rem;
    margin-top: 12px;
}

.list-item {
    margin: 32px 16px 16px;
}

.item {
    font-size: 1.4rem;
}